.experience_main_title{
    margin-bottom: 15px;
    color:black ;
    font-size: 30px;
    font-weight: 800;
    font-family: "Inter";
    text-align: center;
}
.experience_sub_title{
    color:#666666 ;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter";
    text-align: center;
    margin-bottom: 10px;
}
.experience_super_conatiner{
    margin:50px 0px;
}
.experience_main_conatiner{
    margin: 10px 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.flex_container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}
.full_width_container{
    width: 100%;
}
.flex_container_space_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.company_icon{
    font-size: 35px;
    color: #7E57C2
}
.calender_icon{
    font-size: 25px;
    color: gray;
}
.designation_icon{
    font-size: 30px;
    color: #ac89e9
}
.company_name_text{
    color: #6045e5;
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter";
}
.designation_text{
    font-size: 18px;
    font-weight: 600;
    font-family: "Inter";
}

.duration_text{
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter";
    color:#666666 ;
}
.tech_stack_skills{
    border: 1px solid #6045e5;
    padding: 5px 8px;
    border-radius: 5px;
    color: #6045e5;
    font-size: 15px;
    font-weight: 600;
}
.tech_stack_container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.experience_description_container{
    display: none;
}
.description_title{
    font-size: 18px;
    font-weight: 600;
}
.description_text{
    font-size: 17px;
    font-weight: 500;
    margin: 5px 0px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1000px) {
    .experience_main_conatiner{
        margin: 10px 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}