.connect_with_me_container{
    padding-bottom: 15px;
}
.connect_with_me_main_title{
    margin-bottom: 15px;
    color:black ;
    font-size: 30px;
    font-weight: 800;
    font-family: "Inter";
    text-align: center;
}
.connect_with_me_sub_title{
    margin-bottom: 10px;
    color:#666666 ;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter";
    text-align: center;
}
.connect_with_me_list_container{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.connect_with_me_icon{
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .connect_with_me_main_title{
        font-size: 20px;
    }
    .connect_with_me_sub_title{
        font-size: 16px;
    }
}