.project_main_title{
    margin-bottom: 15px;
    color:black ;
    font-size: 30px;
    font-weight: 800;
    font-family: "Inter";
    text-align: center;
}
.project_sub_title{
    margin-bottom: 10px;
    color:#666666 ;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter";
    text-align: center;
}
.projects_main_container{
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.project_main_container{
    width: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px;
    cursor: pointer;
}
.project_title{
    color:black ;
    font-size: 20px;
    font-weight: 600;
    font-family: "Inter";
    text-align: center;
    margin: 10px 0px;
}
.project_description{
    color:#666666 ;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter";
}
.project_tech_stack_item{
    border: 1px solid #6045e5;
    padding: 5px 8px;
    border-radius: 5px;
    color: #6045e5;
    font-size: 15px;
    font-weight: 600;
}
.project_tech_stack_container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.project_description_container{
    margin-top: 20px;
    /* display: none; */
}
.project_description_title{
    font-size: 18px;
    font-weight: 700;
}
.project_description_text{
    font-size: 17px;
    font-weight: 500;
    margin: 5px 0px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .project_main_title{
        font-size: 20px;
    }
    .project_sub_title{
        font-size: 16px;
    }
    .projects_main_container{
        margin: 50px 10px;
    }
    .project_title{
        font-size: 18px;
    }
    .project_description{
        font-size: 15px;
    }
    .project_description_title{
        font-size: 15px;
    }
    .project_description_text{
        font-size: 15px;
    }
}